*.iml
.gradle
/local.properties
/.idea/modules.xml
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea/assetWizardSettings.xml
/.idea/modules
/.idea/navEditor.xml
/.idea/vcs.xml
/.idea/codeStyles/Project.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/inspectionProfiles/Project_Default.xml
/build
/captures
.externalNativeBuild
.cxx
local.properties
full_payload.json
test_req.json
.junie/
